*{
  padding: 0%;
  margin: 0%;
  box-sizing: 0%;
}
.container{
  padding: 15%;
  background-color: black;
}
.primeiro{
  margin-top: -50px;
  display: flex;
}
.primeiro a{
  margin-left: 150px;
}
.div1{
  margin-top: -130px;
}
.div1 a{
  color: white;
  text-decoration: none;
  display:grid;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.div2{
  margin-top: -130px;
}
.div2 a{
  color: white;
  text-decoration: none;
  display:grid;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.div3{
   margin-top: -130px;
}
.div3  a{
  color: white;
  text-decoration: none;
  display:grid;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.div4{
   margin-top: -130px;
}
.div4 a{
  color: white;
  text-decoration: none;
  display:grid;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.segundo{
  margin-top: -50px;
  display: flex;
}
.segundo a{
  margin-left: 150px;
}
.div5{
  margin-top: 125px;
}
.div5 a{
  color: white;
  text-decoration: none;
  display:grid;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.div6{
  margin-top: 125px;
}
.div6 a{
  color: white;
  text-decoration: none;
  display:grid;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.div7{
  margin-top: 125px;
}
.div7 a{
  color: white;
  text-decoration: none;
  display:grid;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.div8{
  margin-top: 125px;
}
.div8 a{
  color: white;
  text-decoration: none;
  display:grid;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}