*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.branco {
    color: white;
}
.cabeçalho{
    top:0;
    left: 0;
    width: 100%;
    padding: 1%;
    background-color: black;
}
.bot{
    padding: 1%;
    margin-left: 35%;
    text-align: center;
    display: flex;
    margin-top: -2%;
}
.bot nav a{
    margin-left: 25px;
    text-decoration: none;
    color: white;
}
.quadrado{
    margin-left: 35%;
    margin-top: -45%;
    height: 370px;
    width: 370px;
    border: 1px solid rgb(0, 0, 0);
}
.quadrado img{
    width: 365px;
}
.imagem img{
    width: 100%;    
}
.meio{
    margin-top: 19%;
}
.modelos{
    display: flex;
}
.card{
    margin-left:20px ;
}
.modelos1{
    display: flex;
    margin-left: 15%;
}
.meio1{
    margin-top: 3%;
}